@font-face {
  font-family: DINCondensed;
  src: url('../font/DINCondensed/DINCondensed-Regular.woff') format('woff'), /* Modern Browsers */
       url('../font/DINCondensed/DINCondensed-Regular.ttf')  format('truetype')
}

$main_font: DINCondensed;
$main_color: #843428;
$active_color: #e9d445;

* {
  margin: 0;
  padding: 0;
  font-family: $main_font;
}

ul, li, button, a, h1, h2, p {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.box {
  max-width: 1230px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;

  box-sizing: border-box;
}

.img_box {
  font-size: 0;
  img {
    width: 100%;
  }
}

.page {
  padding-top: 50px;
  padding-bottom: 50px;
  &_head {
    text-transform: uppercase;
    font-size: 37px;
    line-height: 1.2em;

    padding-bottom: 15px;
  }
}

.timetable {
  &_item {
    font-size: 18px;
    margin-bottom: 10px;
    span {
      color: $main_color;
    }
  }
}

.post {
  &_description {
    font-size: 21px;
    white-space: pre-line;
    img {
      vertical-align: top;
    }
  }
}
.post-navigation {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;

  margin-top: 40px;
  &_section {
    width: 45%;
  }
  a {
    color: #000;
    transition: 0.5s;
    font-size: 18px;
    &:hover {
      color: $active_color;
      transition: 0.5s;
    }
  }
}

.header {
  &_box {
    display: flex;
    justify-content: space-between;

    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.banner {
  margin-right: 15px;
  &_description {
    display: flex;
  }
  &_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 138px;
    margin-right: 10px;
  }
  &_head {
    margin: 10px 0;
    font-size: 30px;
    line-height: 1.2em;
    text-transform: uppercase;
  }
  &_address {
    font-size: 18px;
  }

  &_nav {
    padding-top: 20px;
    padding-left: 148px;
  }
  &_social {
    display: flex;
  }
  &_link {
    max-width: 40px;
    width: 100%;
    margin-left: 10px;
    &:first-child {
      margin: 0;
    }
  }
  &_icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_buttons {
    display: flex;
    margin-top: 30px;
  }
  &_button {
    display: block;
    padding: 10px 20px;
    margin-right: 30px;
    background: $main_color;

    font-size: 25px;
    line-height: 1.2em;
    text-transform: lowercase;
    color: #fff;
  }
}

.info {
  width: 30%;
  border-left: 3px solid $main_color;
  padding: 5px 0 5px 15px;
  &_item {
    color: #000;
    margin-bottom: 15px;
    font-size: 21px;
    &-warning {
      color: $main_color;
    }
  }
  &_link {
    color: #000;
    transition: 0.5s;
    &:hover {
      color: $active_color;
      transition: 0.5s;
    }
  }
}

.navigation {
  background: #a3a3a3;
  &_box {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  li {
    position: relative;
    padding: 0 40px;

    &:before {
      content: "";

      position: absolute;
      top: 2px;
      bottom: 2px;
      left: 0;

      width: 3px;
      background: $active_color;
    }
    &:first-child {
      &:before {
        display: none;
      }
    }
  }
  .current_page_item {
    a {
      color: $active_color;
    }
  }
  a {
    text-transform: lowercase;
    font-size: 25px;
    line-height: 1.2em;
    color: #000;
    transition: 0.5s;
    &:hover, {
      color: $active_color;
      transition: 0.5s;
    }
  }
}

.footer {
  background: rgba(209,209,209,.7);
  &_box {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &_section {
    display: flex;
  }
  &_information {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 50px;
  }
  &_navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      margin-bottom: 10px;
    }
    a {
      color: $main_color;
      font-size: 21px;
      line-height: 1.2em;
      text-transform: uppercase;
      transition: 0.5s;
      &:hover {
        color: #000;
        transition: 0.5s;
      }
    }
  }
  &_timetable {
    flex: none;
  }
}

.information {
  font-size: 18px;
  line-height: 1.3em;
  &_timetable {
    flex: none;
  }
  &_text {
    font-size: 21px;
    white-space: pre-line;
    margin-bottom: 30px;
  }
}

.news {
  &_cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  &_card {
    display: block;
    width: calc(100% / 3 - 20px);
    margin: 10px;
  }
  &_title {
    padding: 10px;
    background: $main_color;

    color: #fff;
    font-size: 20px;
  }
  &_image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    height: 235px;
    &-before {
      position: absolute;
      top: -10px;
      right: -10px;
      left: -10px;
      bottom: -10px;
      z-index: 10;

      background-position: 50% 50%;
      filter: blur(3px);
      -webkit-filter: blur(3px);
    }
    img {
      position: relative;
      z-index: 15;

      max-width: 100%;
      width: auto;
      max-height: 100%;
      height: auto;
    }
  }
  &_date {
    display: block;
    text-align: center;
    padding-top: 10px;

    font-size: 30px;
    line-height: 1.2em;
    letter-spacing: .013em;
    color: #717171;
  }
}

.publications {
  &_card {
    display: flex;
    padding: 0 20px;
    margin: 15px 0;
    background: $main_color;
    color: #fff;
    &:nth-child(2n) {
      transform: scale(-1, 1);
      .publications_info, .publications_image {
        transform: scale(-1, 1);
      }
    }
  }
  &_info {
    padding: 20px 0;
    margin: 0 20px;
  }
  &_title {
    font-size: 26px;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }
  &_description {
    font-size: 18px;
  }
  &_image {
    flex: none;
    width: 50%;
  }
}

.gallery {
  background: $main_color;
  &_box {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 15px 20px;
  }
  &_item {
    width: calc(100% / 3 - 22px);
    margin: 10px;

    background: rgba(255,255,255,.15) no-repeat 50% 50%;
    border: 1px solid rgba(255,255,255,.4);
    cursor: pointer;
  }
  &_image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}

.gallery-modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 150;

  display: none;
  justify-content: center;
  align-items: center;

  background: $main_color;
  &.show {
    display: flex;
  }
  &_close {
    position: absolute;
    top: 20px;
    right: 20px;

    cursor: pointer;
    background: transparent;
    border: none;
    opacity: 0.75;
    &:hover {
      opacity: 1;
    }
  }
  &_item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_image {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80vh;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}