@font-face {
  font-family: DINCondensed;
  src: url("../font/DINCondensed/DINCondensed-Regular.woff") format("woff"), url("../font/DINCondensed/DINCondensed-Regular.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  font-family: DINCondensed;
}

ul, li, button, a, h1, h2, p {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.box {
  max-width: 1230px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
  box-sizing: border-box;
}

.img_box {
  font-size: 0;
}
.img_box img {
  width: 100%;
}

.page {
  padding-top: 50px;
  padding-bottom: 50px;
}
.page_head {
  text-transform: uppercase;
  font-size: 37px;
  line-height: 1.2em;
  padding-bottom: 15px;
}

.timetable_item {
  font-size: 18px;
  margin-bottom: 10px;
}
.timetable_item span {
  color: #843428;
}

.post_description {
  font-size: 21px;
  white-space: pre-line;
}
.post_description img {
  vertical-align: top;
}

.post-navigation {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  margin-top: 40px;
}
.post-navigation_section {
  width: 45%;
}
.post-navigation a {
  color: #000;
  transition: 0.5s;
  font-size: 18px;
}
.post-navigation a:hover {
  color: #e9d445;
  transition: 0.5s;
}

.header_box {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.banner {
  display: flex;
  align-items: flex-start;
  margin-right: 15px;
}
.banner_description {
  display: flex;
}
.banner_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  margin: 10px 15px 10px 0;
}
.banner_head {
  margin: 10px 0;
  font-size: 30px;
  line-height: 1.2em;
  text-transform: uppercase;
}
.banner_address {
  font-size: 18px;
}
.banner_nav {
  margin-top: 15px;
}
.banner_social {
  display: flex;
}
.banner_link {
  max-width: 40px;
  width: 100%;
  margin-left: 10px;
}
.banner_link:first-child {
  margin: 0;
}
.banner_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner_buttons {
  display: flex;
  margin-top: 30px;
}
.banner_button {
  display: block;
  padding: 10px 20px;
  margin-right: 30px;
  background: #843428;
  border: none;
  cursor: pointer;
  font-size: 25px;
  line-height: 1.2em;
  text-transform: lowercase;
  color: #fff;
}

.info {
  width: 30%;
  border-left: 3px solid #843428;
  padding: 5px 0 5px 15px;
}
.info_item {
  color: #000;
  margin-bottom: 15px;
  font-size: 21px;
}
.info_item-warning {
  color: #843428;
}
.info_link {
  color: #000;
  transition: 0.5s;
  cursor: pointer;
}
.info_link:hover {
  color: #e9d445;
  transition: 0.5s;
}

.buy {
  background: #843428;
}
.buy_label {
  color: #fff;
  font-size: 21px;
  letter-spacing: 2px;
}
.buy_input {
  width: 100%;
  margin-top: 15px;
  padding: 15px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.15) no-repeat 50% 50%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  outline: none;
  box-shadow: none;
  color: #fff;
  font-size: 18px;
}
.buy_input::placeholder {
  color: #fff;
}
.buy_button {
  display: block;
  background: rgba(255, 255, 255, 0.15) no-repeat 50% 50%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff;
  font-size: 18px;
  padding: 15px;
  margin: 15px 0 0 auto;
  cursor: pointer;
}

.navigation {
  background: #a3a3a3;
}
.navigation_box {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navigation li {
  position: relative;
  padding: 0 40px;
}
.navigation li:before {
  content: "";
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 0;
  width: 3px;
  background: #e9d445;
}
.navigation li:first-child:before {
  display: none;
}
.navigation .current_page_item a {
  color: #e9d445;
}
.navigation a {
  text-transform: lowercase;
  font-size: 25px;
  line-height: 1.2em;
  color: #000;
  transition: 0.5s;
}
.navigation a:hover {
  color: #e9d445;
  transition: 0.5s;
}

.footer {
  background: rgba(209, 209, 209, 0.7);
}
.footer_box {
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer_section {
  display: flex;
}
.footer_information {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 50px;
}
.footer_navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer_navigation li {
  margin-bottom: 10px;
}
.footer_navigation a {
  color: #843428;
  font-size: 21px;
  line-height: 1.2em;
  text-transform: uppercase;
  transition: 0.5s;
}
.footer_navigation a:hover {
  color: #000;
  transition: 0.5s;
}
.footer_timetable {
  flex: none;
}

.information {
  font-size: 18px;
  line-height: 1.3em;
}
.information_timetable {
  flex: none;
}
.information_text {
  font-size: 21px;
  white-space: pre-line;
  margin-bottom: 30px;
}

.news_cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.news_card {
  display: block;
  width: calc(33.3333333333% - 20px);
  margin: 10px;
}
.news_title {
  padding: 10px;
  background: #843428;
  color: #fff;
  font-size: 20px;
}
.news_image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 235px;
}
.news_image-before {
  position: absolute;
  top: -10px;
  right: -10px;
  left: -10px;
  bottom: -10px;
  z-index: 10;
  background-position: 50% 50%;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
.news_image img {
  position: relative;
  z-index: 15;
  max-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
}
.news_date {
  display: block;
  text-align: center;
  padding-top: 10px;
  font-size: 30px;
  line-height: 1.2em;
  letter-spacing: 0.013em;
  color: #717171;
}

.publications_card {
  display: flex;
  padding: 0 20px;
  margin: 15px 0;
  background: #843428;
  color: #fff;
}
.publications_card:nth-child(2n) {
  transform: scale(-1, 1);
}
.publications_card:nth-child(2n) .publications_info, .publications_card:nth-child(2n) .publications_image {
  transform: scale(-1, 1);
}
.publications_info {
  padding: 20px 0;
  margin: 0 20px;
}
.publications_title {
  font-size: 26px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
.publications_description {
  font-size: 18px;
}
.publications_image {
  flex: none;
  width: 50%;
}

.gallery {
  background: #843428;
}
.gallery_box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 15px 20px;
}
.gallery_item {
  width: calc(33.3333333333% - 22px);
  margin: 10px;
  background: rgba(255, 255, 255, 0.15) no-repeat 50% 50%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.gallery_image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 150;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.modal.show {
  display: flex;
}
.modal_close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
  opacity: 0.75;
}
.modal_close:hover {
  opacity: 1;
}

.gallery-modal {
  background: #843428;
}
.gallery-modal_item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-modal_image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.gallery-modal_image img {
  max-width: 100%;
  max-height: 100%;
}

@media all and (max-width: 540px) {
  .box {
    max-width: 1230px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .header_box {
    display: block;
    padding-top: 55px;
    padding-bottom: 10px;
  }
  .banner {
    display: block;
    margin-right: 0;
  }
  .banner_description {
    display: flex;
  }
  .banner_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 138px;
    margin: 10px 15px 10px 0;
  }
  .banner_head {
    margin: 10px 0;
    font-size: 30px;
    line-height: 1.2em;
    text-transform: uppercase;
  }
  .banner_address {
    font-size: 18px;
  }
  .banner_nav {
    margin-top: 15px;
  }
  .banner_social {
    display: flex;
    margin: 15px 0;
  }
  .banner_link {
    max-width: 40px;
    width: 100%;
    margin-right: 5px;
  }
  .banner_link:first-child {
    margin: 0;
  }
  .banner_icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner_buttons {
    display: flex;
    margin-top: 30px;
  }
  .banner_button {
    display: block;
    padding: 10px 20px;
    margin-right: 30px;
    background: #843428;
    border: none;
    cursor: pointer;
    font-size: 25px;
    line-height: 1.2em;
    text-transform: lowercase;
    color: #fff;
  }
  .info {
    width: 100%;
    border-left: 3px solid #843428;
    padding: 15px 0 5px 15px;
    box-sizing: border-box;
  }
  .info_item {
    color: #000;
    margin-bottom: 15px;
    font-size: 21px;
  }
  .info_item-warning {
    color: #843428;
  }
  .info_link {
    color: #000;
    transition: 0.5s;
    cursor: pointer;
  }
  .info_link:hover {
    color: #e9d445;
    transition: 0.5s;
  }
  .navigation {
    display: none;
  }
  .burger {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 140;
    background: #a3a3a3;
    padding: 10px 10px;
  }
  .burger_button {
    display: block;
    border: none;
    background: transparent;
    margin: 0 0 0 auto;
  }
  .burger_close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: transparent;
    border: none;
    opacity: 0.75;
  }
  .burger_close:hover {
    opacity: 1;
  }
  .burger_menu {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
    background: #843428;
    padding: 10px;
  }
  .burger_menu li {
    margin-bottom: 15px;
  }
  .burger_menu a {
    color: #fff;
    font-size: 21px;
  }
  .burger_menu.show {
    display: block;
  }
  .news_cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
  .news_card {
    display: block;
    width: 100%;
    margin: 10px 0;
  }
  .publications_card {
    display: block;
    padding: 0;
    margin: 15px 0;
    background: #843428;
    color: #fff;
  }
  .publications_info {
    padding: 20px 0;
    margin: 0 20px;
  }
  .publications_title {
    font-size: 21px;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }
  .publications_description {
    font-size: 18px;
  }
  .publications_image {
    flex: none;
    width: 100%;
  }
  .gallery_item {
    width: 100%;
    margin: 10px 0;
  }
  .post_description {
    margin-top: 20px;
    font-size: 21px;
    white-space: pre-line;
  }
  .post_description img {
    vertical-align: top;
  }
  .post-navigation {
    display: block;
    margin-top: 40px;
  }
  .post-navigation_section {
    width: 100%;
    margin-bottom: 20px;
  }
  .post-navigation a {
    color: #000;
    transition: 0.5s;
    font-size: 18px;
  }
  .post-navigation a:hover {
    color: #e9d445;
    transition: 0.5s;
  }
  .footer_box {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer_section {
    display: block;
  }
  .footer_information {
    display: block;
    width: 100%;
    margin-left: 0;
  }
  .footer_navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 15px 0;
  }
  .footer_navigation li {
    margin-bottom: 10px;
  }
  .footer_navigation a {
    color: #843428;
    font-size: 21px;
    line-height: 1.2em;
    text-transform: uppercase;
    transition: 0.5s;
  }
  .footer_navigation a:hover {
    color: #000;
    transition: 0.5s;
  }
}

/*# sourceMappingURL=main.css.map */
